input[type="number"] {
  width: 3em;

}
body {
  background-color: cadetblue;
  text-align: center;
}



textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* WHAT I KNOW */

#header {
  text-align: center;
}

.neighbors_cor_form {
  position: absolute;
  top: 150px;
  left: 200px;
}

.neighbors_name_form {
  position: absolute;
  top: 600px;
  left: 200px;
}


.radius_cor_form {
  position: absolute;
  top: 150px;
  right: 200px;
}

.radius_name_form {
  position: absolute;
  top: 600px;
  right: 200px;
}

