.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-background {
  background-image: linear-gradient(rgba(175, 238, 238), rgba(119, 136, 153));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-left: 300px;
  margin-right: 300px;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 55%;
}

.home {
  margin-left: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 130;
  font-size: 30px;
}

.margins {
  margin-top: -20px;
  width: 800px;
  height: 760px;
  border: 20px;
  border-color: white;
  background-color: lightblue;
  border-radius: 20px;
}

.welcome {
  font-weight: 300;
  padding-top: 100px;
}
.starter {
  margin-top: 40px;
  border-radius: 20px;
  width: 220px;
  margin-left: 280px;
  padding: 6px;
  background-color: white;
}

.looker {
  margin-top: 40px;
  border-radius: 20px;
  width: 220px;
  margin-left: 280px;
  padding: 6px;
  background-color: white;
}

.form-div {
  background-color: white;
  border-radius: 20px;
  margin-left: 150px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  padding-top: 10px;
}

.text {
  font-weight: bold;
}

.submit {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border-color: white;
  border-style: double;
  background-color: lightblue;
  color: black;
  font-weight: 120;
}

.friends-div {
  position: absolute;
  left: 0;
  top: 220px;
  height: 300px;
  width: 250px;
  background-color: lightblue;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#FL {
  margin-left: -50px;
}
.login-div, .signup-div{
  width: 800px;
  height: 760px;
  border: 20px;
  border-color: white;
  background-color: lightblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
